body{
	font-size:80%;
}

#tabs {
	width:1250px;
}

td, th {
	vertical-align:top;
	font-size:66%;
	padding:1em;
}

.tablabel {
	text-align: right;
	height:2em;
}

th {
	text-align:left;
}

#main_table {
	width:980px;
}

#main_table tfoot tr th  {
	font-size:60%;
	font-weight:normal;
	border: 1px solid #000000;
	background-color:#E8E8E8;
}

#main_table tfoot tr th input {
	width:3em;
	font-size:60%;
}

#main_table tfoot tr th select {
	font-size:75%;
}

.dataTables_filter, .dataTables_length {
	margin-bottom: 15px;
}

.dataTables_info, a#main_table_previous, a#main_table_next {
	font-size:75%;
	padding-top:2px;
}

#tabs ul {
	margin-top:30px;
}

.chart {
	border: 1px solid #000000;
	width:982px;
	margin:9px 0px;
}

